/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body {
  background-color: #868e96;
  border-color: blue;
  margin: 33px;
}

h1 {
    text-align: center;
    color: goldenrod;
}

table {
    border-color: blue;
    color: white;    
}

a {
    color: red }